apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-cert
  namespace: monitory
spec:
  commonName: Grafana Cert
  secretName: grafana-tls
  duration: 24h
  renewBefore: 144m  # roughly 10% of 24h
  dnsNames:
  - {{ grafana['host'] }}
  issuerRef:
    name: root-ca-issuer
    kind: ClusterIssuer
    group: cert-manager.io