apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kubernetes-dashboard-selfsigned-ca
  namespace: kubernetes-dashboard
spec:
  isCA: true
  commonName: {{ dashboard['host'] }}
  secretName: {{ dashboard['tls'] }}
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-cluster-issuer
    kind: ClusterIssuer
    group: cert-manager.io