apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
certificateKey: {{ certificate_key }}
localAPIEndpoint:
  advertiseAddress: {{ node_ip }}
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
  imagePullPolicy: IfNotPresent
  name: {{ ansible_hostname }}
  taints: null
---
apiServer:
  timeoutForControlPlane: 4m0s
  certSANs:
    - "{{ control_plane_dns }}"
  {% for host in groups['control-planes'] %}
  - "{{ hostvars[host].node_ip }}"
  {% endfor %}
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
controlPlaneEndpoint: {{ control_plane_dns }}:6443
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{ service_cidr }}
  podSubnet: {{ pod_cidr }}
scheduler: {}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
ipvs:
  strictARP: true



